.header{
    max-width: 1230px;
    margin: 0 auto;
}
.header__inner{
    background-color: #ffffff;
    border-bottom: 1px solid #e7e2de;
    text-align: center;
}
.header__logo{
    color: #8b7969;
    font-size: 40px;
    font-weight: bold;
    font-family: Courier;
}
.contact__title{
    text-align: center;
    padding-top: 20px;
}
.contact__form-title{
    font-size: 30px;
    text-decoration: none;
    color: #8b7969;
    font-family: Courier;
    font-weight: bold;
}
.form{
    width: 70%;
    margin: 0 auto;
}

.confirm-table{
    width: 100%;
}
.confirm-table__inner{
    margin: 20px;
}
.confirm-table__row{
    border: 1px solid #8b7969;
}
.confirm-table__header{
    color: #ffffff;
    background-color: #baa899;
    padding: 10px;
    width:30%;
}
.confirm-table__text{
    width: 70%;
    padding: 15px;
    display: flex;
    text-align: center;
}
.confirm-table__text input{
    width: 100%;
    outline: none;
    border: none;
    color: #8b7969;
}
.form__button{
    display: flex;
    margin: 0 auto;
    width: 30%;
    justify-content: space-between;
}
.form__button input{
    width: 100%;
}
.form__button-submit{
    width: 120px;
    margin-right: 10px;
    height: 40px;
}
.form__button--submit{
    color: #ffffff;
    background-color: #82756b;
    border: 1px solid #82756b;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.form__button-correction{
    width: 120px;
    height: 40px;
}
.form__button--correction{
    color: #82756b;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
}
