.thanks__content{
    max-width: 1230px;
    margin: 15% auto;
    /*background-image:;*/
}
h2{
    width: 100%;
    color: #8b7969;
    padding:30px;
    text-align: center;
    font-weight: bold;
}
.form__button{
    max-width: 1230px;
    text-align: center;
}
.form__button-home{
    display: inline;
}
.form__button-home--submit{
    color: #ffffff;
    background-color: #82756b;
    border: 1px solid #82756b;
    border-radius: 3px;
    font-family: Courier;
    padding: 8px;
    cursor: pointer;
}